# Compiled python modules
.pyc

# Setuptools distribution folder
/dist/

# Python .egg metadata
**/*.egg-info/

# IDE configurations
.idea/

**/__pycache__

*.cache

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Hypothesis folders
.hypothesis
