include requirements*.txt
include LICENSE
include README.md
include eolearn/core/py.typed
exclude eolearn/tests/*
exclude eolearn/tests/test_extra/*
exclude eolearn/tests/test_utils/*
exclude eolearn/tests/stats/*
